{% extends "base.html" %}
{% block content %}

<!--Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to QuickShop...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni minus doloremque veniam, deserunt ad temporibus saepe dignissimos id quo quia quae, accusamus modi inventore incidunt enim neque laudantium rerum natus! Blanditiis consectetur dolor aut necessitatibus commodi, quas nihil cumque aliquid sapiente adipisci rem nisi asperiores quae sint natus quam. Corrupti saepe illo, ad sunt ipsa quae tenetur quibusdam expedita at aspernatur accusantium cupiditate enim qui in iste, sapiente atque facilis alias ipsum provident veniam! Facilis a nostrum id deleniti. Quidem.
                </p>
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni minus doloremque veniam, deserunt ad temporibus saepe dignissimos id quo quia quae, accusamus modi inventore incidunt enim neque laudantium rerum natus! Blanditiis consectetur dolor aut necessitatibus commodi, quas nihil cumque aliquid sapiente adipisci rem nisi asperiores quae sint natus quam. Corrupti saepe illo, ad sunt ipsa quae tenetur quibusdam expedita at aspernatur accusantium cupiditate enim qui in iste, sapiente atque facilis alias ipsum provident veniam! Facilis a nostrum id deleniti. Quidem.
                </p>
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni minus doloremque veniam, deserunt ad temporibus saepe dignissimos id quo quia quae, accusamus modi inventore incidunt enim neque laudantium rerum natus! Blanditiis consectetur dolor aut necessitatibus commodi, quas nihil cumque aliquid sapiente adipisci rem nisi asperiores quae sint natus quam. Corrupti saepe illo, ad sunt ipsa quae tenetur quibusdam expedita at aspernatur accusantium cupiditate enim qui in iste, sapiente atque facilis alias ipsum provident veniam! Facilis a nostrum id deleniti. Quidem.
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>
{% endblock content %}