{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}

    {% comment %} <div class="container">
        <div class="navbar">
            <div class="logo">
           <img src="images/logo.png" width="125px">
            </div>
            <nav>      
                <ul id="Menuitems">
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#Products">About</a></li>
                    
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>

        </nav>
        <img src="images/cart.png" width="30px" height="30px">
        <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">

        </div>
   

           
    </div> {% endcomment %}
        
<!--SINGLE PRODUCTS DETAILS-->
<div class="small-container single-products">
    <div class="row">
        <div class="col-2">
            <img src="{{product.image.url}}" width="100%" id="ProductImg">
        </div>
        <div class="col-2">
            <p>{{product.category}}</p>
            <br>
            <br>
            <h1>{{product.name}}</h1>
            <h4>${{product.price}}</h4>
            <br>
            <select name="" id="">
                <option value="">Select Size</option>
                <option value="">XXL</option>
                <option value="">XL</option>
                <option value="">Large</option>
                <option value="">Medium</option>
                <option value="">Small</option>
            </select>
            <select name="" id="qty-cart" class="form-select form-select-sm">
                <option value="1" selected>1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
                <option value="5" >5</option>
            </select>
            <br><br><br>
            <button type="button" value="{{product.id}}" id="add-cart">Add to Cart</button>
            <br>
            <br>
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>
<!---title-->
<div class="small-container">
    <div class="row row2">
        <h2>Related Products</h2>
        <p> View More &#8594; </p>
    </div>
</div>
<!---products-->
<div class="small-container">
    <div class="row">
        <div class="col-3">
            <img src="images/product-11.jpg">
            <h4>Men's sneakers</h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p>$50.00</p>
            <button>Add to cart</button>
            </div>
        <div class="col-3">
            <img src="images/product-6 (2).jpg" width="100%">
            <h4>Men's sneakers</h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p>$50.00</p>
            <button>Add to cart</button>
        </div>
        <div class="col-3">
            <img src="images/product-10.jpg">
            <h4>Men's sneakers</h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p>$50.00</p>
            <button>Add to cart</button>
        </div>
        <div class="col-3">
            <img src="images/product-10.jpg">
            <h4>Men's sneakers</h4>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p>$50.00</p>
            <button>Add to cart</button>
        </div>
    </div>
    
<div class="page-btn">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>&#8594;</span>
</div>
</div>

   


<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed = new Typed(".auto-type", {
        strings: ["Easy!", "Smart!", "Awesome!"],
        typeSpeed: 150,
        backSpeed: 150,
        loop: true
    })

    var typed = new Typed(".automatic-type", {
        strings: ["Grow!", "Build!", "shape!", "Upgrade!"],
        typeSpeed: 150,
        backSpeed: 150,
        loop: true
    })

    var menuBtn = document.getElementById("menuBtn")
    var sidenav = document.getElementById("sidenav")
    var menu = document.getElementById("menu")
    
    sidenav.style.right = "-250px";

    menuBtn.onclick = function(){
        if(sidenav.style.right == "-250px" ){
            sidenav.style.right = "0";
            menu.src = "close.png";
        }
        else {
            sidenav.style.right = "-250px";
            menu.src = "menu.png";
        }
    }
    var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 1000,
        speedAsDuration: true
    });

</script>
<!--js for toggke menu-->


<script>
    var Menuitems = document.getElementById("Menuitems");

    Menuitems.style.maxHeight = "0px";

    function menutoggle(){
        if (Menuitems.style.maxHeight == "0px")
        {
            Menuitems.style.maxHeight = "200px";
        }
        else{
            Menuitems.style.maxHeight = "0px";
        }
    }
</script>
<!----js for product gallery---->
<script>
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("SmallImg");

        SmallImg[0].onclick = function()
        {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function()
        {
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function()
        {
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function()
        {
            ProductImg.src = SmallImg[3].src;
        }
</script>
<script>


    // Check if button pressed
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{csrf_token}}',
                action: 'post'
            },
            
            success: function(json){
                //console.log(json)
                document.getElementById("cart_quantity").textContent = json.qty
            },
            error: function(xhr, errmsg, err){

            }
        });
    })

</script>

</div>
{% endblock content %}